@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	Layout = null;
}
 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PLAYSCRIBE_Backend</title>

	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/PLAYSCRIBE_Backend.styles.css" asp-append-version="true" />
	@* GOOGLE FONT LİNKLERİ *@
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lugrasimo&display=swap" rel="stylesheet">
	@*Bootstrap *@
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
	@*External CSS *@
	<link rel="stylesheet" href="~/css/GenelCss.css" asp-append-version="true">
</head>
<body>
	<div id="INCEPTION">
		<div class="NEONDIV">
			<H1>PLAYSCRIBE'A HOŞGELDİN</H1>
		</div>
		<div class="INITIAL">
			<button class="NEONBUTON" id="BASBUTON">GİRİŞ İÇİN TIKLA</button>
		</div>

	</div>
	<div id="SECONDARY" class="DisplayNone">
		<div class="NEONDIV" style="position: relative;">
			<H1>HANGİ BÖLÜME GEÇİŞ YAPMAK İSTERSİN?</H1>
		</div>
		<div class="SecondContainer DisplayFlex">

			<div class="INITIAL">
				<!-- BLOG Sayfa -->
				<a asp-controller="Blog" asp-action="BlogMain">
					<button class="NEONBUTON" id="BLOKBUTON">BLOKLARIM</button>

				</a>
				
					
			</div>
			<div class="INITIAL">
					<!-- OYUN Sayfa -->
				<a asp-controller="Game" asp-action="GameMain">
					<button class="NEONBUTON" id="OYUNBUTON">AIRBORNE RIVALS OYUNU</button>
				</a>
					

			</div>
			<div class="INITIAL">
				<!-- Hakkında Sayfa -->
				<a asp-controller="About" asp-action="AboutMain">
					<button class="NEONBUTON" id="HAKKINDABUTON">HAKKINDA</button>
				</a>
					
			</div>
		</div>

	</div>

	<div id="GAMESECTION" class="DisplayNone">
	</div>


	<div id="ABOUTSECTION" class="DisplayNone">
		
	</div>

	<div id="BLOCKSECTION" class="DisplayNone">

	</div>
	<div id="AnimateControl">
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
		<h1 class="ANIMATE"></h1>
	</div>
	<script src="~/js/JavaControl.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	</body>
</html>