@page
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PLAYSCRIBE_Backend.styles.css" asp-append-version="true" />
    @*Bootstrap *@
    <link rel="stylesheet" href="~/PLAYSCRIBE_Frontend/Bootstrap/css/bootstrap.min.css" asp-append-version="true">
    @*External CSS *@
    <link rel="stylesheet" href="~/css/GenelCss.css" asp-append-version="true">
</head>
<body>
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">KAYIT OL </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">OTURUM AÇ</a>
            </li>
        }
    </ul>
    <div id="AnimateControl">
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
        <h1 class="ANIMATE"></h1>
    </div>
    <script src="~/js/JavaControl.js" asp-append-version="true"></script>
    <script src="~/PLAYSCRIBE_Frontend/Bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
