@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="row DisplayFlex">
    <div>
        <div class="IdentityTitle" style="margin: 100px;">
            <h1 style="text-align: center;">
                Lütfen Parolanızı Yenilemek İçin Emailinizi Kontrol Ediniz.
            </h1>
        </div>
		<div class="DisplayFlex" style="width:50%; height: 10%; margin :auto; ">
            <a asp-area="Identity" asp-page="/Account/Login">
                <button class="NEONBUTON" id="LoginIdentity">Oturum Açma Penceresine Dön</button>
            </a>
        </div>
      
    </div>
</div>

