@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
}
<div class="row DisplayFlex">
	<div class="NEONDIV IdentityTitle">
		<h1>PAROLA YENİLEME</h1>
	</div>
	<div class="col-md-5" style="height : 100%">
		<div class="Form_Table">
			<form method="post">
				<h1 class="Form-Title">Mailinizi Girin</h1>
				<hr class="hrEight" style="margin-top: 30px; width: 100%;">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<label asp-for="Input.Email" class="Identity-Label  form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<button type="submit" class="w-100 btn btn-lg btn-primary">Parolanı Yenile</button>
			</form>
		</div>
	</div>
</div>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
