@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}
<div class="row DisplayFlex">
	<div class="col-md-5" style="height:100%;">
		<div class="IdentityTitle NEONDIV">
			<h1>OTURUM AÇIN</h1>
		</div>
		<div class="Form_Table">
			<section>
				<form id="account" method="post">
					<h1 class="Form-Title">HESABINIZA GİRİŞ YAPIN</h1>
					<hr class="hrEight" style="margin-top: 30px; width: 100%;">
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3">
						<input asp-for="Input.UsernameOrEmail" class="form-control" autocomplete="username email" aria-required="true" placeholder="Kullanıcı İsmi veya Email" />
						<label asp-for="Input.UsernameOrEmail" class="Identity-Label form-label">Kullanıcı İsmi veya Email</label>
						<span asp-validation-for="Input.UsernameOrEmail" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.Password" class="Identity-Label form-label">Şifre</label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="checkbox mb-3">
						<label asp-for="Input.RememberMe" class="Identity-Label form-label">
							<input class="form-check-input" asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
					<div>
						<button id="login-submit" type="submit" class="w-100 mt-2 mb-2 btn btn-lg btn-primary">Oturum Aç</button>
						<button id="Previous_btn" class="w-100 mt-2 mb-2 btn btn-lg btn-primary">Geri Dön</button>
					</div>
					<div>
						<p>
							<a id="forgot-password" asp-page="./ForgotPassword">Şifremi Unuttum.</a>
						</p>
						<p>
							<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Yeni bir kullanıcı hesabı oluştur</a>
						</p>
						<p>
							<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Email Doğrulaması yolla</a>
						</p>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>
<script>
	document.getElementById("Previous_btn").addEventListener("click", function () {
		window.history.back(); // Tarayıcı geçmişi üzerinden geri dönme işlemi yapar
	});
</script>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
