/*FORM AYARLAMALARI*/
.Form_Table {
    position: relative;
    width: 100%;
    top: 30%;
    border: 2px solid black;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #2a2a2a;
     background-color : rgba(253, 243, 243, 0.349)
}
.form-control {
    background-color: #ffffff00;
    border: 2px solid black;
}
.IdentityTitle {
    top: 5%;
    position: relative
}
.Form-Title
{
    font-size: 40px;
    color: rgb(37, 2, 2);
    font-family : monospace;
}


.Identity-Label {
    color: #000000;
}
#LoginIdentity
{
    font-size : 25px; 
}